In [ ]:
# This code was modified from Hack Oregon's Neighborhood Development project
# https://github.com/hackoregon/neighborhoods-2018/tree/master/notebooks/campsites
# Many thanks to Hasan for collaborating on the data prep through Hack Oregon

In [3]:
import pyproj
from pyproj import transform

In [4]:
import pandas as pd
import numpy as np

In [10]:
# http://www.spatialreference.org/ref/epsg/3646/
or_north_plain = pyproj.Proj(init='EPSG:3646', preserve_units=True)

In [11]:
def load_csv(fname):
    falsies = ['No', 'NO','no', ]
    trusies = ['YES', 'Yes', 'yes']
    df = pd.read_csv(fname,
                     true_values=trusies,
                     false_values=falsies,
                     parse_dates=[0],
                     low_memory=False,
                     )
    return df

In [12]:
def transform_coordinates(df, projection):
    # 0 values in X and Y columns are invalid - replace with NaN so we can fix erronous projections
    df.X.replace(0, np.nan, inplace=True)
    df.Y.replace(0, np.nan, inplace=True)
    X = np.array(df.X)
    Y = np.array(df.Y)
    
    lons, lats = projection(X, Y, inverse=True)
    # Projections that don't make sense return 1e+30 rather than erroring.
    # We will replace these with NaNs
    lons[lons == 1e+30] = np.nan
    lats[lats == 1e+30] = np.nan
    df['lon'] = lons
    df['lat'] = lats
    # Get rid of old columns
    df.drop(columns=['X', 'Y'], inplace=True)
    
    return df

In [13]:
# def transform_coordinates_to_epsg4326(df, projection, outprojection):
#     # 0 values in X and Y columns are invalid - replace with NaN so we can fix erronous projections
#     df.X.replace(0, np.nan, inplace=True)
#     df.Y.replace(0, np.nan, inplace=True)
#     X = np.array(df.X)
#     Y = np.array(df.Y)
    
#     lons, lats = projection(X, Y, inverse=True)
#     # Projections that don't make sense return 1e+30 rather than erroring.
#     # We will replace these with NaNs
#     lons[lons == 1e+30] = np.nan
#     lats[lats == 1e+30] = np.nan
#     df['lon'] = lons
#     df['lat'] = lats
#     # Transform to EPSG 4326
#     (df['lon'], df['lat']) = transform(projection, outprojection, (df['lon'], df['lat']))
#     # Get rid of old columns
#     df.drop(columns=['X', 'Y'], inplace=True)
    
#     return df

In [14]:
def cleanse_data(df):
    # Get the first number and use that as the new value
    df['num_campers'] = df['How many campers would you estimate are there?'].str.extract(r'(\d+)', expand=False)
    df.drop(columns=['How many campers would you estimate are there?'], inplace=True)
    return df

#This needs to be fixed using the code below. Will do this later.

In [15]:
CSV_FILES = ['../data/onepointcontactreports/Comstock April 2018-November 25_2018.csv']

In [16]:
for fname in CSV_FILES:
    df = load_csv(fname)
    completed = transform_coordinates(df, or_north_plain)
    new_name = '_processed.'.join(fname.split('2018.'))
    df.to_csv(new_name, index=False)

In [17]:
# for fname in CSV_FILES:
#     df = load_csv(fname)
#     completed = transform_coordinates_to_epsg4326(df, or_north_plain, wgs84)
#     new_name = '_processed_epsg4326.'.join(fname.split('2018.'))
#     df.to_csv(new_name, index=False)

# Playground

## *TODO*
- I think extracting column W, in general, is pretty safe, since the question was so direct. With multiple numbers, taking an average of them seems reasonable. We’d need to think about what to do with “+” as many people do that, or say “more than”. My guess is leaving it at the lower bound is fine
-  the CSV you exported seems to have a funny format for column W.
- Some of the numbers are printed as dates. If you look at row 2 (first data row, excluding header) and column W - the one asking “How many campers would you estimate are there?” - then you’ll see it listed as Apr-5 rather than a number. 
- If I go through the fields tonight and select the ones to keep, would you be able to extract the numbers from column W and put them in a new column so I can join that field (via report date) to the other file?
- In terms of keeping columns, I think any qualitative information given about the campsite should stay (i.e. starting with the field “How long has the campsite been there” through the lat/longs
I think we should keep Date and ID
Everything inbetween can likely be reduced to a single column with a street address in it, since it was an either/or sort of thing (sometimes there are multiple fields filled in, but if we go most specific to least specific and exclude NAs, it should work fine)
- "Column W" = “How many campers would you estimate are there?”

#BREAK
- At this point, I have deleted the unwanted columns (manually, in Excel) for the old_processed and new_processed .csvs that were generated above. 
- I'm going to change the name of CSV_FILES to the new filenames that I modified outside of this script and proceed with the next few steps.

In [18]:
CSV_FILES = ['../data/onepointcontactreports/Comstock April 2018-November 25__processed.csv', '../data/onepointcontactreports/campsite_reports_final_HackOR.csv']
print(CSV_FILES)

['../data/onepointcontactreports/Comstock April 2018-November 25__processed.csv', '../data/onepointcontactreports/campsite_reports_final_HackOR.csv']

In [19]:
df = load_csv(CSV_FILES[0])
df2 = load_csv(CSV_FILES[1])

In [20]:
df.head()
print("df2 is {}, df is {}".format(len(df2['Item ID']), len(df['Item ID'])))
# df.to_csv("test_df.csv")

df2 is 32812, df is 21527

In [21]:
df2.drop('Unnamed: 0', axis=1, inplace=True)
df2.head()

,Date Created,Item ID,"Where is the campsite/concern located? Please provide an address if possible. If no address is available, please provide a complete description of the site's location.","If having difficulty with the map, please type in the nearest address or intersection (for example, SW Market and SW 14th) and scroll to pinpoint the location. (User Specified)","If having difficulty with the map, please type in the nearest address or intersection (for example, SW Market and SW 14th) and scroll to pinpoint the location. (System Verified)",How long has the site been there?,Is the site occupied?,How many campers would you estimate are there?,Are children present?,Are dogs present?,...,Repeated instances of overly aggressive behavior from campers,"Public intoxication and/or conspicuous drug use (If it is an emergency, please call 9-1-1.)",Campsite obstructs public right-of-way,Misuse of public spaces,Structures or tents present,Excessive trash and/or biohazards,Damage to the environment,lon,lat,number_of_campers
0,2018-03-31 20:58:00,1367525.0,Essex Park,3804 se 79th,7811 SE CENTER ST,a while,yes,NaN,False,False,...,False,False,True,True,False,True,False,-122.583146,45.494409,NaN
1,2018-03-31 20:45:00,1367524.0,Max Stop,SE Pershing st & SE 17th ave,NaN,5 Days,yes,1,False,False,...,False,False,True,True,True,True,False,-122.648198,45.499296,1.0
2,2018-03-31 20:14:00,1367522.0,"NE Halsey and 68th, between the freeway offram...",NE Halsey and 68th Pl,NaN,NaN,yes,8,NaN,NaN,...,False,False,False,True,True,True,True,-122.592590,45.533459,8.0
3,2018-03-31 19:38:00,1367515.0,Private Property,NE 74th and NE Roselawn,NaN,2 days,yes,2,False,NaN,...,False,False,False,True,True,False,False,-122.585585,45.560331,2.0
4,2018-03-31 19:23:00,1367514.0,ODOT I-84,NaN,1400-1449 NE 68TH AVE,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,-122.592797,45.533121,NaN

In [22]:
dfs = [df, df2]
# dfc = pd.concat(dfs, ignore_index=True, sort=False)
dfc = pd.concat(dfs, ignore_index=False, sort=False)
# dfc.head(8)
len(dfc['Item ID'])

54339

In [23]:
len1 = len(df['Date Created'])
len2 = len(df2['Date Created'])
len3 =len(dfc['Date Created'])

print(len1+len2)
print(len1, len2, len3)

#Looks like they concat'd successfully
dfc.to_csv("test_dfc.csv")

54339
21527 32812 54339

In [24]:
s = dfc['How many campers would you estimate are there?']
s.head(40)

0                                     5
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN
5                                    15
6                                   NaN
7                                   NaN
8                                   NaN
9                                     6
10                                  NaN
11                             Total 13
12                                  NaN
13                                  NaN
14                               15-Oct
15                                    1
16                                   15
17                                  NaN
18                                    1
19                                  NaN
20                                    1
21                                  NaN
22                                  NaN
23    ? Not sure, looks like 5 at least
24                                    1
25                                5-Apr
26                                  one
27                                    3
28                                    1
29                                  NaN
30                                  NaN
31                                    3
32                                  NaN
33                                7-May
34                                4-Jan
35                                    2
36                                  NaN
37                                5-Apr
38                                  NaN
39                                  NaN
Name: How many campers would you estimate are there?, dtype: object

In [25]:
#Convert any numbers that are written out into integers
islongint = s.str.match('one', na=False)
islongint
#Locate where the 'one' text is
#s.loc[s.str.match('one') == True]
#islongint.loc[731]

dfc.loc[islongint, 'How many campers would you estimate are there?'] = '1'
dfc.loc[731]

,Date Created,Date Received,Item ID,Status,Follow-Ups,"Where is the campsite/concern located? Please provide an address if possible. If no address is available, please provide a complete description of the site's location.","If having difficulty with the map, please type in the nearest address or intersection (for example, SW Market and SW 14th) and scroll to pinpoint the location. (User Specified)","If having difficulty with the map, please type in the nearest address or intersection (for example, SW Market and SW 14th) and scroll to pinpoint the location. (System Verified)",Address ID,Property ID,...,"Public intoxication and/or conspicuous drug use (If it is an emergency, please call 9-1-1.)",Campsite obstructs public right-of-way,Misuse of public spaces,Structures or tents present,Excessive trash and/or biohazards,Damage to the environment,Is there anything else we should know? When do you see people present?,lon,lat,number_of_campers
731,2018-11-09 09:37:00,NaN,1498723.0,Open,1.0,SWC,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,"Tent, cart, trash on Springwater",-122.557769,45.476033,NaN
731,2018-03-20 09:56:00,NaN,1361285.0,NaN,NaN,Burnside between 3rd and 4th Ave,4 nw 3rd Ave,400-499 W BURNSIDE ST,NaN,NaN,...,True,True,True,True,True,True,NaN,-122.674910,45.523160,NaN

In [26]:
islongint = s.str.match('two', na=False)
dfc.loc[islongint, 'How many campers would you estimate are there?'] = '2'

islongint = s.str.match('three', na=False)
dfc.loc[islongint, 'How many campers would you estimate are there?'] = '3'

islongint = s.str.match('four', na=False)
dfc.loc[islongint, 'How many campers would you estimate are there?'] = '4'

islongint = s.str.match('five', na=False)
dfc.loc[islongint, 'How many campers would you estimate are there?'] = '5'

islongint = s.str.match('six', na=False)
dfc.loc[islongint, 'How many campers would you estimate are there?'] = '6'

islongint = s.str.match('seven', na=False)
dfc.loc[islongint, 'How many campers would you estimate are there?'] = '7'

islongint = s.str.match('eight', na=False)
dfc.loc[islongint, 'How many campers would you estimate are there?'] = '8'

islongint = s.str.match('nine', na=False)
dfc.loc[islongint, 'How many campers would you estimate are there?'] = '9'

islongint = s.str.match('r"ten\s"', na=False)
dfc.loc[islongint, 'How many campers would you estimate are there?'] = '10'

islongint = s.str.match('fifteen', na=False)
dfc.loc[islongint, 'How many campers would you estimate are there?'] = '15'

islongint = s.str.match('twenty', na=False)
dfc.loc[islongint, 'How many campers would you estimate are there?'] = '20'

In [27]:
s.loc[s.str.match('one') == True]

26                                                     one
896                                                    one
2598                                               one man
2897                                              one tent
3247                                         one maybe two
3679                                                   one
4128                                                   one
4465                                                   one
5105     one name is Norman and has huge piles on shopp...
5120                               one definitely, maybe 2
6556                                            one or two
10112                                                  one
10327                    one now, but there have been more
10461                                                  one
10565                                                  one
10795                                                  one
11553                                                  one
11658                                                  one
12159       one RV camper vehicle and a van no front plate
12873                                         one, now 2-3
13853                                      one, maybe two.
13858                                      one, maybe two.
14561                                                  one
15055                                                  one
17284                                                  one
18485                                                  one
18881                                                  one
20294                             one recreational vehicle
21150                                           one or two
21416                                                  one
Name: How many campers would you estimate are there?, dtype: object

In [28]:
# Number of rows without any digit in the 'How many campers...' column
s.str.extract(r"(\d+)", expand=False).isnull().sum()

33245

In [29]:
#help(s.str.extract)
s.head(20)
#s.loc[17385]

0            5
1          NaN
2          NaN
3          NaN
4          NaN
5           15
6          NaN
7          NaN
8          NaN
9            6
10         NaN
11    Total 13
12         NaN
13         NaN
14      15-Oct
15           1
16          15
17         NaN
18           1
19         NaN
Name: How many campers would you estimate are there?, dtype: object

In [30]:
ROW_WITH_MULTIPLE_NUMBERS = 17385
s.loc[ROW_WITH_MULTIPLE_NUMBERS]

17385      NaN
17385    15-20
Name: How many campers would you estimate are there?, dtype: object

In [31]:
# First pull out any rows with months in the string, replace with NaN (K)
#(\d+-Apr$)   This will pull out specifically the month of April. 
#(\d{1,2})-([A-Z][a-z]{2}) pulls out all months. 

isbaddate = s.str.match(r"(\d{1,2})-([A-Z][a-z]{2})", na=False)
isbaddate

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14        True
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25        True
26       False
27       False
28       False
29       False
         ...
32782    False
32783    False
32784    False
32785    False
32786    False
32787    False
32788    False
32789    False
32790    False
32791    False
32792    False
32793    False
32794    False
32795    False
32796    False
32797    False
32798    False
32799    False
32800    False
32801    False
32802    False
32803    False
32804    False
32805    False
32806    False
32807    False
32808    False
32809    False
32810    False
32811    False
Name: How many campers would you estimate are there?, Length: 54339, dtype: bool

In [32]:
#Check out loc, iloc, and ix

In [33]:
dfc.loc[isbaddate, 'How many campers would you estimate are there?'] = np.nan

In [34]:
dfc

,Date Created,Date Received,Item ID,Status,Follow-Ups,"Where is the campsite/concern located? Please provide an address if possible. If no address is available, please provide a complete description of the site's location.","If having difficulty with the map, please type in the nearest address or intersection (for example, SW Market and SW 14th) and scroll to pinpoint the location. (User Specified)","If having difficulty with the map, please type in the nearest address or intersection (for example, SW Market and SW 14th) and scroll to pinpoint the location. (System Verified)",Address ID,Property ID,...,"Public intoxication and/or conspicuous drug use (If it is an emergency, please call 9-1-1.)",Campsite obstructs public right-of-way,Misuse of public spaces,Structures or tents present,Excessive trash and/or biohazards,Damage to the environment,Is there anything else we should know? When do you see people present?,lon,lat,number_of_campers
0,2018-11-19 14:44:00,11/19/18,1503591.0,Open,0.0,7519 N Leonard st,N leonard st and N Chicago st,7410 N CHICAGO AVE,557114.0,NaN,...,True,False,True,True,True,False,Campers are using public space and the racquet...,-122.755294,45.591748,NaN
1,2018-11-19 14:35:00,11/19/18,1503582.0,Open,0.0,test,to,1220 SW 5TH AVE,646159.0,R246102,...,False,False,False,False,False,False,NaN,-122.679057,45.514999,NaN
2,2018-11-19 14:29:00,NaN,1503576.0,Open,0.0,NaN,NaN,NaN,0.0,NaN,...,False,False,False,False,False,False,Large and growing camp along soundwall on east...,-122.565987,45.556555,NaN
3,2018-11-19 14:26:00,NaN,1503571.0,Open,0.0,NaN,NaN,700-799 NE BROADWAY,0.0,NaN,...,False,False,False,False,False,False,Camp on or next to sidewalk on Broadway at NE ...,-122.658411,45.534961,NaN
4,2018-11-19 14:24:00,NaN,1503567.0,Open,0.0,NaN,NaN,0-0 SW MONTGOMERY ST-I405 FWY RAMP,0.0,NaN,...,False,False,False,False,False,False,Camps and remains of camps in median on west s...,-122.689916,45.512986,NaN
5,2018-11-19 14:23:00,11/19/18,1503563.0,Open,0.0,"I-84 off-ramp at SE 57th, between the ramp and...",SE Hoyt and SE 57th,0-0 NE I84 FWY-GLISAN ST RAMP,0.0,NaN,...,True,True,True,True,True,True,Constantly walking back and forth across the f...,-122.604919,45.527436,NaN
6,2018-11-19 14:22:00,NaN,1503560.0,Open,0.0,NaN,NaN,0-0 NE I84 FWY-GLISAN ST RAMP,0.0,NaN,...,False,False,False,False,False,False,Tent city in median at 58th aveneue exit from ...,-122.604756,45.527441,NaN
7,2018-11-19 14:21:00,NaN,1503556.0,Open,0.0,NaN,NaN,8130-8199 NE HALSEY ST-HALSEY ST RAMP,0.0,NaN,...,False,False,False,False,False,False,Camp under Halsey overpass on west side of NE ...,-122.579237,45.534465,NaN
8,2018-11-19 14:19:00,NaN,1503554.0,Open,0.0,NaN,NaN,16-23 SE MORRISON BRG-WATER AVE RAMP,0.0,NaN,...,False,False,False,False,False,False,Massive tent city has formed under overpass. F...,-122.666672,45.516523,NaN
9,2018-11-19 14:19:00,11/19/18,1503552.0,Open,0.0,SE 83rd Avenue between SE Bush St. and Eastpor...,SE 83rd & Bush,3800-3899 SE 83RD AVE,0.0,NaN,...,True,True,True,True,True,True,NaN,-122.577859,45.494520,NaN
10,2018-11-19 14:16:00,NaN,1503547.0,Open,0.0,NaN,NaN,0-0 I84 FWY,0.0,NaN,...,False,False,False,False,False,False,Camps in or straddling ROW on north side of Ea...,-122.579629,45.533431,NaN
11,2018-11-19 14:01:00,11/19/18,1503525.0,Open,0.0,82nd Halsey off ramp and behind sound wall,1606 NE 81st ave,1707 NE 82ND AVE,611448.0,R194147,...,True,True,True,True,True,False,Too much drug activities at night.Campers keep...,-122.579323,45.534868,NaN
12,2018-11-19 13:25:00,NaN,1503483.0,Open,0.0,NaN,NaN,NaN,0.0,NaN,...,False,False,False,False,False,False,NaN,-122.689068,45.512828,NaN
13,2018-11-19 12:46:00,NaN,1503444.0,Open,0.0,NaN,NaN,12530-12649 SE POWELL BLVD,0.0,NaN,...,False,False,False,False,False,False,2 campsites here. One has been there for month...,-122.533425,45.497127,NaN
14,2018-11-19 12:45:00,11/19/18,1503443.0,Open,0.0,NW 17th and NW Raleigh,NW 17th and NW Raleigh,0-0 NW HWY 30-FREMONT BRG RAMP,0.0,NaN,...,False,False,True,True,True,True,This camp has continued to build over the last...,-122.688213,45.534602,NaN
15,2018-11-19 12:38:00,11/19/18,1503437.0,Open,0.0,NW Thurman and NW 20th,NW Thurman and NW 20th,0-2049 NW THURMAN ST-VAUGHN ST RAMP,0.0,NaN,...,False,False,True,False,True,True,Believe this camp is occupied by a single woma...,-122.694021,45.536459,NaN
16,2018-11-19 12:37:00,11/19/18,1503436.0,Open,0.0,81st and Halsey,81st and Halsey,1400-1499 NE 81ST AVE,0.0,NaN,...,False,True,True,True,True,True,NaN,-122.580042,45.533576,NaN
17,2018-11-19 12:21:00,NaN,1503420.0,Open,0.0,NaN,NaN,1100-1199 SE PINE ST,0.0,NaN,...,False,False,False,False,False,False,"report #5, same group, same crap. Now we have ...",-122.653899,45.520691,NaN
18,2018-11-19 12:09:00,11/19/18,1503412.0,Open,0.0,1508 NE Schuyler,1508 NE Schuyler,1508 NE SCHUYLER ST,603368.0,R182431,...,False,True,False,True,False,True,NaN,-122.650168,45.535599,NaN
19,2018-11-19 12:09:00,11/19/18,1503411.0,Open,0.0,East side of Greeley Ave on both sides of Goin...,N Going St and Greeley Ave,2400-2499 N GOING ST,0.0,NaN,...,False,True,True,True,True,False,Campers have been in street creating traffic h...,-122.691787,45.556072,NaN
20,2018-11-19 12:08:00,11/19/18,1503409.0,Open,0.0,810 SE Belmont,SE 8th and Yamhill,810 SE BELMONT ST,646544.0,R233860,...,True,True,True,True,True,True,NaN,-122.657396,45.516146,NaN
21,2018-11-19 12:07:00,NaN,1503408.0,Open,1.0,Stuff n' Things,NaN,5896-5999 SE 43RD AVE,0.0,NaN,...,False,False,False,False,False,False,There is a camp that pops up nightly at Woodst...,-122.618666,45.479659,NaN
22,2018-11-19 12:03:00,11/19/18,1503403.0,Referred,2.0,I-5 south exit to Rosa Parks Way on west side ...,N Montana Ave and Rosa Parks Way,6500-6599 N MONTANA AVE,0.0,NaN,...,True,True,True,True,True,False,Campers stole property from caller and vandali...,-122.679719,45.570262,NaN
23,2018-11-19 11:41:00,11/19/18,1503362.0,Referred,2.0,across from 1831 SW 14th Avenue-ODOT,1831 SW 14th Avenue,1800-1849 SW 14TH AVE,0.0,NaN,...,False,False,False,True,True,False,My tenant attorney Rebecca Cambreleng asked me...,-122.690200,45.513399,NaN
24,2018-11-19 11:26:00,11/19/18,1503347.0,Referred,2.0,4774 SE Milwaukie Ave-ODOT,SE Milwakie & Schiller,1500-1599 SE SCHILLER ST,0.0,NaN,...,True,False,True,True,True,False,"4774 SE Milwaukie Ave, near 4774 SE Milwaukie ...",-122.650081,45.487449,NaN
25,2018-11-19 11:23:00,11/19/18,1503343.0,Referred,2.0,NE 81st and NE Halsey-ODOT,Ne 81st and NE Halsey,1400-1499 NE 81ST AVE,0.0,NaN,...,False,False,True,True,False,True,Tents reappeared within three days of it being...,-122.580109,45.533598,NaN
26,2018-11-19 11:20:00,11/19/18,1503340.0,Referred,2.0,NE 68th and NE Halsey-ODOT,NE 68th and NE Halsey,NaN,0.0,NaN,...,False,False,True,True,False,False,Tents cleared out four days ago. Constant prob...,-122.592704,45.533462,NaN
27,2018-11-19 11:03:00,11/19/18,1503319.0,Open,0.0,2236 SE 10th,2236 SE 10th,2220 SE 9TH AVE,138882.0,R276035,...,False,True,False,True,False,False,NaN,-122.655955,45.507008,NaN
28,2018-11-19 10:40:00,11/19/18,1503282.0,Referred,2.0,ODOT proerty on ne 69th and ne halsey st,1433 ne 69th ave,NaN,0.0,NaN,...,True,False,True,True,True,True,Thank you for having this campsite cleaned up ...,-122.592792,45.533428,NaN
29,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32782,2016-07-05 09:47:00,NaN,1032705.0,NaN,NaN,On the hillside above Maletis Beverage in Swan...,700 N Cutter,7000-7049 N CUTTER CIR,NaN,NaN,...,False,False,True,True,No,Yes,NaN,-122.709953,45.573255,NaN
32783,2016-07-04 20:58:00,NaN,1031655.0,NaN,NaN,Peter Paulson Apts and 12th Ave Terrace Apts,"1530 SW 13th Ave, Portland, OR 97201",1530 SW 13TH AVE,NaN,NaN,...,True,True,True,True,Yes,Yes,NaN,-122.687903,45.514931,NaN
32784,2016-07-04 20:35:00,NaN,1031615.0,NaN,NaN,5625 SE Powell Blvd,Se 57th and se Powell blvd,SE 57TH AVE & SE POWELL BLVD,NaN,NaN,...,False,False,True,True,Yes,Yes,NaN,-122.604074,45.497467,2.0
32785,2016-07-04 15:19:00,NaN,1031441.0,NaN,NaN,2727 NW 29th St. 97210,2727 NW 29th 97210,2727 NW 29TH AVE,NaN,NaN,...,False,False,True,False,Yes,Yes,NaN,-122.711742,45.541973,2.0
32786,2016-07-04 11:54:00,NaN,1031395.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,No,No,NaN,-122.590396,45.512828,NaN
32787,2016-07-03 19:58:00,NaN,1030986.0,NaN,NaN,NaN,NaN,5200-5499 NE ALBERTA ST,NaN,NaN,...,False,False,False,False,No,No,NaN,-122.608470,45.559143,NaN
32788,2016-07-03 19:32:00,NaN,1030982.0,NaN,NaN,Peter Paulson Apts and 12th Ave Terrace Apts,"1530 SW 13th Ave, Portland, OR 97201",1530 SW 13TH AVE,NaN,NaN,...,True,True,True,True,Yes,Yes,NaN,-122.687903,45.514931,NaN
32789,2016-07-03 19:14:00,NaN,1030980.0,NaN,NaN,NaN,NaN,1300-1399 SE OAK ST,NaN,NaN,...,False,False,False,False,No,No,NaN,-122.652326,45.520036,NaN
32790,2016-07-03 18:23:00,NaN,1030973.0,NaN,NaN,7200 SE 92nd Avenue,7200 SE 92nd Avenue,7200 SE 92ND AVE,NaN,NaN,...,False,False,True,False,Yes,Yes,NaN,-122.567574,45.470492,NaN
32791,2016-07-03 15:21:00,NaN,1030946.0,NaN,NaN,Ground dead end road on right side of 2915 SE ...,2915 SE 138th Ave,2915 SE 138TH AVE,NaN,NaN,...,True,True,True,True,Yes,No,NaN,-122.521801,45.501122,1.0
32792,2016-07-03 13:41:00,NaN,1030937.0,NaN,NaN,NaN,NaN,2100-2106 SE MARTIN LUTHER KING JR BLVD,NaN,NaN,...,False,False,False,False,No,No,NaN,-122.660973,45.507527,NaN
32793,2016-07-03 12:05:00,NaN,1030919.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,No,No,NaN,-122.549628,45.478131,NaN
32794,2016-07-03 11:22:00,NaN,1030911.0,NaN,NaN,NaN,NaN,8800-8999 SE LAFAYETTE ST,NaN,NaN,...,False,False,False,False,No,No,NaN,-122.570691,45.496450,NaN
32795,2016-07-03 10:13:00,NaN,1030905.0,NaN,NaN,NaN,NaN,800-899 N RUSSET ST,NaN,NaN,...,False,False,False,False,No,No,NaN,-122.674958,45.577961,NaN
32796,2016-07-03 08:38:00,NaN,1030890.0,NaN,NaN,raymond city park,5006 se 115th,5006 SE 115TH AVE,NaN,NaN,...,False,False,False,True,No,No,NaN,-122.543456,45.486192,1.0
32797,2016-07-02 20:58:00,NaN,1030787.0,NaN,NaN,Khunamokwst Park,52nd Ave and Alberta NE,NE 52ND AVE & NE ALBERTA ST,NaN,NaN,...,False,False,True,False,Yes,No,NaN,-122.609568,45.559127,2.0
32798,2016-07-02 10:08:00,NaN,1030703.0,NaN,NaN,NaN,NaN,8900-8999 NE GOING ST,NaN,NaN,...,False,False,False,False,No,No,NaN,-122.570343,45.556541,NaN
32799,2016-07-02 09:41:00,NaN,1030695.0,NaN,NaN,Across from 1919 SE 84th Ave/Harrison Park,1919 SE 84th Ave,1919 SE 84TH AVE,NaN,NaN,...,False,True,True,True,No,No,NaN,-122.577314,45.508812,NaN
32800,2016-07-01 19:03:00,NaN,1030591.0,NaN,NaN,To the right (south side) of 206 ne 102nd ave,206 ne 102nd ave,206 NE 102ND AVE,NaN,NaN,...,True,False,True,True,Yes,Yes,NaN,-122.557911,45.524077,NaN
32801,2016-07-01 16:32:00,NaN,1030571.0,NaN,NaN,NE 122nd and Glisan - Winco Foods off San Rafael,NE 122nd and Glisan,NE 122ND AVE & NE GLISAN ST,NaN,NaN,...,False,False,True,False,No,No,NaN,-122.537749,45.526293,5.0
32802,2016-07-01 14:45:00,NaN,1030513.0,NaN,NaN,Front of the building in the entry way and the...,1727 NW Hot Street,1700-1799 NW HOYT ST,NaN,NaN,...,False,False,True,True,Yes,Yes,NaN,-122.688720,45.527241,2.0
32803,2016-07-01 14:42:00,NaN,1030512.0,NaN,NaN,Beggar's Tick Wildlife Refuge SE 112th and Foster,SE 112th and Foster,SE 110TH DR & SE 111TH AVE,NaN,NaN,...,True,True,True,True,Yes,Yes,NaN,-122.549379,45.476045,30.0
32804,2016-07-01 14:02:00,NaN,1030484.0,NaN,NaN,SE Crystal Springs and 82nd - btwn Campbell Fe...,SE Crystal Springs and 82nd,SE 82ND AVE & SE CRYSTAL SPRINGS BLVD,NaN,NaN,...,False,True,True,False,No,No,NaN,-122.579044,45.465096,0.0
32805,2016-07-01 12:40:00,NaN,1030426.0,NaN,NaN,1500 SW 11th Ave,1500 SW 11th Ave,1500 SW 11TH AVE,NaN,NaN,...,False,True,True,False,No,No,NaN,-122.685819,45.514623,2.0
32806,2016-07-01 12:17:00,NaN,1030410.0,NaN,NaN,SE 94th and Lincoln,SE 94th and Lincoln,SE 94TH AVE & SE LINCOLN ST,NaN,NaN,...,False,False,True,False,No,No,NaN,-122.566404,45.507931,3.0
32807,2016-07-01 11:03:00,NaN,1030353.0,NaN,NaN,SE 165th and Division,SE 165th and Division,SE 165TH AVE & SE DIVISION ST,NaN,NaN,...,True,True,True,True,Yes,No,NaN,-122.493678,45.504578,6.0
32808,2016-07-01 08:57:00,NaN,1030264.0,NaN,NaN,SE Cesar Chavez and 37th on Oak at Laurelhurst...,SE Cesar Chavez and Oak,SE 39TH BLVD & SE OAK ST,NaN,NaN,...,False,True,True,True,Yes,No,NaN,-122.623040,45.520285,7.0
32809,2016-07-01 08:16:00,NaN,1030242.0,NaN,NaN,"SE Oak Street sidewalk, between SE 13th and 14th",1300 SE Oak St,1300 SE OAK ST,NaN,NaN,...,False,True,True,True,Yes,No,NaN,-122.652203,45.519832,3.0
32810,2016-07-01 07:58:00,NaN,1030232.0,NaN,NaN,NaN,NaN,5600-5649 SE POWELL BLVD FRONTAGE RD,NaN,NaN,...,False,False,False,False,No,No,NaN,-122.604487,45.497193,NaN
32811,2016-07-01 06:57:00,NaN,1030192.0,NaN,NaN,NaN,NaN,0-0 I5 FWY,NaN,NaN,...,False,False,False,False,No,No,NaN,-122.665302,45.528663,NaN

In [35]:
# Pull out any numbers in that string
temp = s.str.extractall(r"(?P<Numbers>\d+)")
temp

            Numbers
      match
0     0           5
5     0          15
9     0           6
11    0          13
14    0          15
15    0           1
16    0          15
18    0           1
20    0           1
23    0           5
24    0           1
25    0           5
27    0           3
28    0           1
31    0           3
33    0           7
34    0           4
35    0           2
37    0           5
40    0           3
43    0           5
44    0           4
46    0           5
52    0           4
53    0           4
57    0           1
58    0           3
60    0          10
61    0           5
63    0           3
...             ...
32739 0           7
32740 0          30
32741 0           5
      1          10
32743 0          10
32744 0          10
32745 0         200
32747 0           6
32752 0           3
32753 0           2
32764 0          10
32767 0           6
32768 0           1
32772 0           3
32776 0           6
32777 0          20
32784 0           2
32785 0           2
32791 0           1
32796 0           1
32797 0           2
32801 0           5
32802 0           2
32803 0          30
32804 0           0
32805 0           2
32806 0           3
32807 0           6
32808 0           7
32809 0           3

[23394 rows x 1 columns]

In [36]:
temp2 = temp.Numbers.astype(float)

#temp2.loc[25].mean()
#THIS is correct.

In [37]:
temp2.index.names = ['record','match']
temp2.index.names

temp3 = temp2.groupby(level=['record']).mean()
temp3

record
0          5.0
1          1.0
2          8.0
3          2.0
5         15.0
9          6.0
10         4.0
11         8.5
14        15.0
15         1.0
16         8.0
17         4.5
18         1.0
20         1.0
21         2.0
23         5.0
24         1.0
25         5.0
27         3.0
28         1.0
29        10.0
31         3.0
33         7.0
34         3.0
35         2.0
37         3.5
38        10.0
40         3.0
41         3.0
43         5.0
         ...
32736      8.0
32739      7.0
32740     30.0
32741      7.5
32743     10.0
32744     10.0
32745    200.0
32747      6.0
32752      3.0
32753      2.0
32764     10.0
32767      6.0
32768      1.0
32772      3.0
32776      6.0
32777     20.0
32784      2.0
32785      2.0
32791      1.0
32796      1.0
32797      2.0
32801      5.0
32802      2.0
32803     30.0
32804      0.0
32805      2.0
32806      3.0
32807      6.0
32808      7.0
32809      3.0
Name: Numbers, Length: 17496, dtype: float64

In [38]:
dfc2 = dfc.assign(number_of_campers=temp3)

In [43]:
dfc2.columns[7]

'If having difficulty with the map, please type in the nearest address or intersection (for example, SW Market and SW 14th) and scroll to pinpoint the location. (System Verified)'

In [48]:
# dfc3 = dfc2.dropna(subset=['lon','lat', dfc2.columns[5], dfc2.columns[6], dfc2.columns[7]])
#NOTE: This is too strong; find the subset that is all 5 together (AND logic), not all 5 (OR logic)
#NOTE: Did not end up subsetting; will do this in the R notebook.
                           
# len(dfc3['number_of_campers'])
len(dfc2['number_of_campers'])

54339

In [49]:
# dfc2.to_csv('../data/onepointcontactreports/campsite_reports_processed_cols_nums.csv')
dfc2.to_csv('../data/onepointcontactreports/campsite_reports_processed_cols_nums_02.csv')

In [74]:
#np.mean(a, axis=0) 
#something like this will take the mean of each row for the indices and return a single-column df (or) array.
#from there, I can append the column to the dataframe. 
#from, I can filter out rows that have NaN either for the # of campers or for hte lat/long to get the final dataset.

In [73]:
#temp2 = temp.Numbers.astype(float)

#temp2.loc[27].mean()
#THIS is correct.

In [14]:
#result = cleanse_data(df)

In [15]:
#result

,Date Created,Item ID,"Where is the campsite/concern located? Please provide an address if possible. If no address is available, please provide a complete description of the site's location.","If having difficulty with the map, please type in the nearest address or intersection (for example, SW Market and SW 14th) and scroll to pinpoint the location. (User Specified)","If having difficulty with the map, please type in the nearest address or intersection (for example, SW Market and SW 14th) and scroll to pinpoint the location. (System Verified)",X,Y,Address ID,Property ID,State ID,...,What was the make and model of the vehicle?,"What is the license plate, if available?",Repeated instances of overly aggressive behavior from campers,"Public intoxication and/or conspicuous drug use (If it is an emergency, please call 9-1-1.)",Campsite obstructs public right-of-way,Misuse of public spaces,Structures or tents present,Excessive trash and/or biohazards,Damage to the environment,num_campers
0,2017-03-31 21:26:00,1166167.0,along MUP North of SE Flavel and East of 92ndAve,NaN,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,False,False,True,True,True,Yes,Yes,5
1,2017-03-31 21:13:00,1166163.0,NaN,NaN,NaN,7671608.498,663720.642,NaN,NaN,NaN,...,NaN,NaN,False,False,False,False,False,No,No,NaN
2,2017-03-31 21:12:00,1166162.0,NaN,NaN,9690-9699 SE FLAVEL ST,7672165.664,663601.344,NaN,NaN,NaN,...,NaN,NaN,False,False,False,False,False,No,No,NaN
3,2017-03-31 20:42:00,1166158.0,NaN,NaN,12500-12899 NE SHAVER ST,7681419.287,693844.334,NaN,NaN,NaN,...,NaN,NaN,False,False,False,False,False,No,No,NaN
4,2017-03-31 20:40:00,1166157.0,NaN,NaN,12500-12899 NE SHAVER ST,7681264.838,693826.702,NaN,NaN,NaN,...,NaN,NaN,False,False,False,False,False,No,No,NaN
5,2017-03-31 20:37:00,1166156.0,NaN,NaN,12500-12899 NE SHAVER ST,7681237.336,693823.383,NaN,NaN,NaN,...,NaN,NaN,False,False,False,False,False,No,No,NaN
6,2017-03-31 20:34:00,1166154.0,NaN,NaN,12500-12899 NE SHAVER ST,7681516.553,693829.850,NaN,NaN,NaN,...,NaN,NaN,False,False,False,False,False,No,No,NaN
7,2017-03-31 20:16:00,1166152.0,NaN,NaN,NaN,7652801.131,674934.195,NaN,NaN,NaN,...,NaN,NaN,False,False,False,False,False,No,No,NaN
8,2017-03-31 19:41:00,1166149.0,Between NE 66th and 67th on NE Sacramento,2615 NE 58th,NaN,0.000,0.000,NaN,NaN,NaN,...,OR,NaN,False,False,False,True,True,No,Yes,NaN
9,2017-03-31 19:06:00,1166142.0,NaN,NaN,NaN,7672043.826,671335.119,NaN,NaN,NaN,...,NaN,NaN,False,False,False,False,False,No,No,NaN
10,2017-03-31 18:44:00,1166137.0,NaN,NaN,8780-8799 NE VANCOUVER WAY,7647994.686,707539.097,NaN,NaN,NaN,...,NaN,NaN,False,False,False,False,False,No,No,NaN
11,2017-03-31 18:40:00,1166134.0,NaN,NaN,7400-7499 N COLUMBIA BLVD FRONTAGE RD,7629256.655,712022.316,NaN,NaN,NaN,...,NaN,NaN,False,False,False,False,False,No,No,NaN
12,2017-03-31 17:36:00,1166117.0,Page St. between Vancouver Ave and Williams Ave,118 n Page st,0-199 N PAGE ST,7646864.146,690223.306,NaN,NaN,NaN,...,NaN,NaN,False,False,True,False,True,No,No,1
13,2017-03-31 17:21:00,1166112.0,SW Grover Street Tunnel (under Naito Pkway),NaN,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,False,False,True,True,True,Yes,No,NaN
14,2017-03-31 17:14:00,1166110.0,NaN,NaN,1900-1919 SW MILL STREET TER,7639443.830,681595.167,NaN,NaN,NaN,...,NaN,NaN,False,False,False,False,False,No,No,NaN
15,2017-03-31 17:11:00,1166107.0,NaN,NaN,NaN,7683480.156,671427.462,NaN,NaN,NaN,...,NaN,NaN,False,False,False,False,False,No,No,NaN
16,2017-03-31 16:59:00,1166097.0,west side of SW 11th Avenue between Jefferson ...,NaN,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,False,True,True,False,True,Yes,No,8
17,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2017-03-31 16:47:00,1166091.0,NE Clackamas St and 103rd Ave,NaN,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,False,True,True,True,False,Yes,No,12
19,2017-03-31 16:42:00,1166090.0,NE 37th and Sandy Blvd south side of Sandy,NE 37th and Sandy Blvd,NE 37TH AVE & NE HALSEY ST,7657658.205,687956.076,NaN,NaN,NaN,...,NaN,NaN,False,False,True,True,True,Yes,Yes,3
20,2017-03-31 16:28:00,1166082.0,East Holladay Park,NaN,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,False,False,False,True,True,Yes,No,NaN
21,2017-03-31 15:29:00,1166059.0,SE 79th between Powell Blvd and Franklin St,NaN,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,False,False,True,True,False,Yes,No,6
22,2017-03-31 14:45:00,1166025.0,6605 SE 60th Ave,6605 SE 60th Ave,NaN,0.000,0.000,NaN,NaN,NaN,...,Or,NaN,False,False,True,True,True,Yes,Yes,10
23,2017-03-31 14:29:00,1166017.0,NE Davis and 7th,160 6th Ave NE,NaN,0.000,0.000,NaN,NaN,NaN,...,Oregon,NaN,False,False,True,True,True,Yes,Yes,NaN
24,2017-03-31 14:02:00,1165993.0,NE 49th Ave. at NE Mason St.,NaN,NaN,0.000,0.000,NaN,NaN,NaN,...,"One long camper trailer, two maroon pickups, a...",NaN,False,False,False,False,True,No,No,1
25,2017-03-31 13:31:00,1165931.0,Springwater Trail between SE 92nd & I205 overpass,SE 92nd Ave,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,False,False,False,True,True,No,Yes,5
26,2017-03-31 13:29:00,1165928.0,92nd and Flavel; NE Corner,92nd and Flavel,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,True,False,True,True,True,Yes,Yes,5
27,2017-03-31 13:28:00,1165921.0,SW 11th Ave & Columbia,SW 11th and Columbia,NaN,0.000,0.000,NaN,NaN,NaN,...,OR,NaN,False,False,True,False,False,No,No,1
28,2017-03-31 13:27:00,1165919.0,11310 SE Market St - on 113th and Market behin...,11310 SE Market,NaN,0.000,0.000,NaN,NaN,NaN,...,SUV and 15' trailer,lic # r677979 oregon plate (trailer),False,True,False,False,False,No,No,2
29,2017-03-31 13:26:00,1165917.0,SW 18th Ave & SW Mill ST Terrace along walking...,SW 18th Ave & SW Mill ST Terrace,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,True,True,True,True,True,Yes,Yes,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17368,2016-07-02 05:03:00,1030667.0,6518 SE 83rd Ave,6518 SE 83rd Ave,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,False,False,False,True,False,No,No,2
17369,2016-07-01 19:03:00,1030591.0,To the right (south side) of 206 ne 102nd ave,206 ne 102nd ave,206 NE 102ND AVE,7674729.140,683882.506,637265.0,R319881,1N2E34CB 9400,...,NaN,NaN,False,True,False,True,True,Yes,Yes,6
17370,2016-07-01 16:59:00,1030576.0,south side of Powell Blvd where SE 90th Pl is ...,NaN,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,True,False,False,False,True,Yes,No,10
17371,2016-07-01 16:32:00,1030571.0,NE 122nd and Glisan - Winco Foods off San Rafael,NE 122nd and Glisan,NE 122ND AVE & NE GLISAN ST,7679915.357,684559.188,NaN,NaN,NaN,...,NaN,Several RVs and a Truck pulling trailer,True,False,False,True,False,No,No,5
17372,2016-07-01 16:00:00,1030557.0,SE 57 and Powell - 97206,NaN,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,False,True,False,True,True,Yes,Yes,4
17373,2016-07-01 14:45:00,1030513.0,Front of the building in the entry way and the...,1727 NW Hot Street,1700-1799 NW HOYT ST,7641246.664,685916.742,NaN,NaN,NaN,...,NaN,NaN,True,False,False,True,True,Yes,Yes,2
17374,2016-07-01 14:42:00,1030512.0,Beggar's Tick Wildlife Refuge SE 112th and Foster,SE 112th and Foster,SE 110TH DR & SE 111TH AVE,7676471.062,666319.948,NaN,NaN,NaN,...,NaN,RV's and cars 2 or 3 broken down,True,True,True,True,True,Yes,Yes,30
17375,2016-07-01 14:13:00,1030492.0,NE San Rafael NE 122nd and 124th,NaN,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,unknown,False,False,True,False,True,Yes,No,12
17376,2016-07-01 14:02:00,1030484.0,SE Crystal Springs and 82nd - btwn Campbell Fe...,SE Crystal Springs and 82nd,SE 82ND AVE & SE CRYSTAL SPRINGS BLVD,7668761.321,662523.360,NaN,NaN,NaN,...,NaN,"Washington ALT9432 Huyndai Santa Fe, silver in...",False,False,True,True,False,No,No,0
17377,2016-07-01 13:01:00,1030438.0,14100 SE Holgate Blvd,14100 SE Holgate Blvd,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,a boat and trash,False,False,True,True,False,Yes,No,0
17378,2016-07-01 12:54:00,1030432.0,937 NW Glisan,NaN,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,OR NNS735,False,False,False,False,True,Yes,No,1
17379,2016-07-01 12:42:00,1030429.0,SE 72nd between Harold and Insley,NaN,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,didn't get it,False,False,False,True,False,No,No,NaN
17380,2016-07-01 12:41:00,1030428.0,SE 12th and Alder,707 SE 12th Ave,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,True,True,True,True,True,Yes,Yes,10
17381,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17382,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17383,2016-07-01 12:40:00,1030426.0,1500 SW 11th Ave,1500 SW 11th Ave,1500 SW 11TH AVE,7641865.418,681297.471,1061033.0,NaN,1S1E04AD 60057,...,NaN,NaN,False,False,True,True,False,No,No,2
17384,2016-07-01 12:17:00,1030410.0,SE 94th and Lincoln,SE 94th and Lincoln,SE 94TH AVE & SE LINCOLN ST,7672402.746,678053.016,NaN,NaN,NaN,...,NaN,Just a trailer - no car attached,False,False,False,True,False,No,No,3
17385,2016-07-01 11:30:00,1030377.0,The corner of NE 7th & NE Flanders,NaN,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,True,True,True,True,True,Yes,Yes,30
17386,2016-07-01 11:03:00,1030353.0,SE 165th and Division,SE 165th and Division,SE 165TH AVE & SE DIVISION ST,7691011.175,676362.328,NaN,NaN,NaN,...,NaN,"Truck, drops off stuff each time 963DXR",False,True,True,True,True,Yes,No,6
17387,2016-07-01 10:54:00,1030347.0,SE Clinton between 121st and 122nd,NaN,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,OR HR04392,True,True,True,True,True,No,No,6
17388,2016-07-01 10:25:00,1030327.0,17197 se alder street portland 97233,17197 se alder street portland 97233,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,idk\fake lp,True,True,True,True,True,Yes,Yes,6
17389,2016-07-01 10:23:00,1030325.0,parking lot next to empty lot at 7th and Flanders,7th and Flanders 97232,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,False,False,False,True,True,Yes,No,2
17390,2016-07-01 08:57:00,1030264.0,SE Cesar Chavez and 37th on Oak at Laurelhurst...,SE Cesar Chavez and Oak,SE 39TH BLVD & SE OAK ST,7658006.318,682932.181,NaN,NaN,NaN,...,NaN,"Huyndai Santa Fe Idaho Plates 1A8C752 expired,...",False,False,True,True,True,Yes,No,7
17391,2016-07-01 08:18:00,1030244.0,SE 92nd Avenue & Flavel,NaN,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,False,False,False,True,True,Yes,Yes,NaN
17392,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17393,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17394,2016-07-01 08:16:00,1030242.0,"SE Oak Street sidewalk, between SE 13th and 14th",1300 SE Oak St,1300 SE OAK ST,7650529.925,682964.745,159221.0,NaN,1N1E35CD 10500,...,NaN,NaN,False,False,True,True,True,Yes,No,NaN
17395,2016-07-01 07:58:00,1030232.0,NaN,NaN,5600-5649 SE POWELL BLVD FRONTAGE RD,7662540.810,674391.096,NaN,NaN,NaN,...,NaN,NaN,False,False,False,False,False,No,No,NaN
17396,2016-07-01 07:47:00,1030221.0,Walking from convention center down to waterfr...,Waterfront,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,True,False,True,True,True,Yes,Yes,25
17397,2016-07-01 06:57:00,1030192.0,NaN,NaN,0-0 I5 FWY,7647259.922,686273.162,NaN,NaN,NaN,...,NaN,NaN,False,False,False,False,False,No,No,NaN